.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
.pnp.*

# node.js
/node_modules
/dist

# https://github.com/plume-sig/zk-nullifier-sig/pull/66/#issuecomment-1780924701
package-lock.json
